* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 100%;
}

header {
    height: 15vh;
    display: flex;
    align-items: center;
}

header img {
    padding-left: 5%;
}

.hero-image-mobile  {
    height: 60vw;
    overflow: hidden;
    background-image: url(./images/hero-mobile.jpg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    max-height: 350px;
}

.left-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;   
    background-color: #fff9f9;
}

.main-content span {
    font-weight: 300;
    color: hsl(0, 36%, 70%);;
}

.main-content {
    text-align: center;
}
.main-content h1 {
    color: hsl(0, 6%, 24%);
    padding: 75px 10px 30px 10px;
    text-align: center;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 50px;
    letter-spacing: 15px;
}

.main-content p {
    padding: 0px 10vw 30px 10vw;
    font-size: 16px;
    text-transform: none;
    color: hsl(0, 36%, 70%);
    line-height: 25px;
}

form {
    width: 80%;
    margin: 0 auto;
}

.email-field {
    width: 100%;
    position: relative;
}

input[type=email] {
    border-radius: 60px;
    width: 100%;
    height: 60px;
    border: solid 1px;
    border-color: hsl(0, 36%, 70%);
    background-color: #fff9f9;
    color:hsl(0, 36%, 70%);
    padding-left: 30px;
  }

  input::placeholder {
    font-size: 16px;
    color:hsl(0, 36%, 70%);
    
  }

  input[type=image] {
      background: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
      border-radius: 60px;
      padding: 20px 50px 20px 50px;  
      position: absolute;
      top: 0;
      right: 0;
      -webkit-box-shadow: 0px 27px 49px -5px rgba(224,220,224,1);
      -moz-box-shadow: 0px 27px 49px -5px rgba(224,220,224,1);
      box-shadow: 0px 27px 49px -5px rgba(224,220,224,1);
}
input[type=image]:hover {
    background: linear-gradient(135deg, hsl(0, 100%, 88%), hsl(0, 100%, 88%));
}

footer {
    padding-top: 50px;
    text-align: center;
    color: hsl(0, 36%, 70%);
}
footer a {
    color: hsl(0, 36%, 70%);
}

/* MEDIA QUERIES */ 

@media (min-width: 900px) {
    header img {
        padding-left: 10vw;
    }
    .main-wrapper {
        display: flex;
        flex-direction: row;
    }
    .left-wrapper {
        width: 60%;
        background-image: url(./images/bg-pattern-desktop.svg);
        background-repeat: no-repeat;
        background-size: cover;
        height: 100vh;
    }
    .hero-image-mobile {
        display: none;
    }
    .hero-image-desktop  {
        width: 40%;
        height: 100vh;
        background-image: url(./images/hero-desktop.jpg);
        background-repeat: no-repeat;
        background-position: top;
        background-size: cover;
    }
    .main-content h1 {
        text-align: left;
        font-size: 5rem;
        padding: 10% 10% 5% 10vw;

    }
    .main-content p {
        text-align: left;
        font-size: 1.3rem;
        line-height: 1.8rem;
        padding: 0px 15% 5% 10vw;
        max-width: 800px;
    }
    form {
        width: 40vw;
        max-width: 500px;
        margin-left: 10vw;
    }
    footer {
        text-align: left;
        position: absolute;
        bottom: 0;
        padding: 0 10% 5px 10vw;
    }
  }